.calendar-box {
    min-height: 812px;
    height: auto;
    padding-bottom: 20px;
    background-color: white;
}

.calendar{
    width:100%;
    text-align:center;
    background-color: white;
}

.calendar thead tr:first-child th{
    font-family: "Titan One", sans-serif;
    text-transform: uppercase;
    background-color: #93C11F;
    font-size: 1.4rem;
}

.calendar tbody td{
    line-height: 30px;
    height: 45px;
    border: none;
    width: 45px;
    padding: 0;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 50%;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;
}

.calendar-day:hover {
    color: white;
    background-color: black;
    border-radius: 50%;
}

.calendar-header th {
    font-weight: 800;
}

.month-title {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    color: black;
}

.arrow {
    color: black;
    text-decoration: none;
    background-color: rgb(211, 211, 211);
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 1rem;
}

.one-day {
    margin: 0 20px;
}

.day-body h5{
    font-weight: 500;
    color: black;
    font-family: "Titan One", sans-serif;
    text-transform: lowercase;
}

.day-body {
    text-align: center;
}

.calendar-divider {
    border-top: 2px solid #93C11F;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar td.selected-day .calendar-day {
    background-color: black;
    color: white;
}

.calendar td.inactive {
    color: white !important;
    opacity: 0.5 !important;
}

.calendar td.event a {
    background-color: #93C11F;
    height: 35px;
    width: 35px;
    border: none;
    padding: 0;
    color: white;
}

.calendar td.event a:hover {
    color: white;
    background-color: black;
}

@media (max-width: 1440px) {
    .calendar{
        font-size: .8rem;
    }

    .calendar td.event a {
        height: 25px;
        width: 25px;
    }

    .calendar-day {
        width: 25px;
        height: 25px;
    }

    .calendar-box {
        min-height: 712px;
    }

    .day-body h5{
        font-size: 1rem;
    }

    .day-body p {
        font-size: 0.8rem;
    }

    .arrow {
        color: black;
        text-decoration: none;
        background-color: rgb(211, 211, 211);
        padding: 5px 7.5px;
        border-radius: 50%;
        font-size: .8rem;
    }

    h4 {
        font-size: 1.2rem !important;
    }

    .calendar thead tr:first-child th{
        font-size: 1rem !important;
        padding: 0px !important;
    }

    .calendar tbody td{
        line-height: 35px;
        height:35px;
    }
}

@media (max-width: 740px) {
    .calendar{
        font-size: 0.8rem;
    }
    .calendar-day{
        line-height: 30px;
        height: 25px;
    }

    .calendar thead tr:first-child th{
        font-size: 1.1rem;
}
}