@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F4F4;
}

h4{
    font-family: 'Bowlby One SC', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topheader{
    font-family: 'Bowlby One SC', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}

.navbar{
    background-color: #93C11F;
    position: relative;
    margin-bottom: 50px;
}

.navbar-margin {
    margin-left: 50px;
}

.navbar-collapse{
    padding-left:150px;
    font-family: 'Bowlby One SC', cursive;
}

.navbar-collapse a{
    font-size: 20px;
}

.nav-item, .nav-link {
    margin-left: 10px;
}

.navbar .nav-item{
    white-space: nowrap;
    margin-right: 20px;
}

.navbar .nav-link{
    color: #000;
}

.navbar .nav-link:hover{
    color: #fff;
}

.navbar .dropdown{
    cursor: pointer;
}
.navbar .dropdown-menu{
    background-color: rgba(0,0,0,0.7);
    color:white;
    text-align: center;
}

.navbar .dropdown-item-group{
    color: #93C11F;
}

.navbar .dropdown-item{
    color:white;
    font-size:15px;
}

.navbar .dropdown-item:hover{
    background-color: #93C11F;
}

.logo{
    position: absolute;
    top:10px;
}

.logo img{
    width: 122px;
    height: 104px;
}

.carousel-article{
    height:500px;
    width:100%;
    background-size: cover;
    background-position: 50%;
}

.carousel-article-title{
    background-color: rgba(147, 193, 31, 0.8);
    border-radius: 10px;
    padding:10px;
    width: 85%;
    position:absolute;
    bottom:20px;
    left:20px;
}

.link-box{
    font-family: 'Bowlby One SC', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:1rem;
    font-size:30px;
    height: 155px;
    box-shadow: 0 4px 11px #00000040;
}

.link-box.nabory{
    background-color: #93C11F;
}

.link-box.kalendar{
    background-color: #D0CFCF;
}

.link-box.fotogalerie{
    background-color: #fff;
}

.article{
    display: flex;
    max-height: 80px;
    overflow: hidden;
    font-size: 0.8rem;
    background-color: #fff;
    margin-bottom:0.5rem;
}

.article img{
    width: 80px;
    height: 60px;
}

.actuality{
    max-height: 80px;
    overflow: hidden;
    font-size: 0.8rem;
    background-color: #fff;
    margin-bottom:0.5rem;
}

.main-green{
    background-color: #93C11F;
    display: flex;
    margin-left:-12px;
    margin-right:-12px;
}

.main-green-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-green-text{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-right:2rem;
}

.main-green-button{
    background-color: #000;
    color: #93C11F;
    font-weight: bold;
    font-size: 1.4rem;
    width: 270px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.matches{
    background-color: #fff;
    display: flex;
    padding:1rem;
}

.match{
    display: flex;
    border-right: 1px solid black;
    padding: 1rem 2rem;
}

.match-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.match-category > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #93C11F;
    color: #000;
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.4rem;
    padding: 10px;
    width: 60px;
    height:60px;
    border-radius: 50%;
}

.partners{
    background-color: #fff;
    text-align: center;
}

.partners .row{
    padding:1rem 0;
}

footer {
    margin-top: 70px;
    font-family: "Inter", sans-serif !important; 
}

footer h4 {
    font-family: "Inter", sans-serif !important; 
}

 .footer-content {
    background-image: url('../img/footer/hriste.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2% 0 0 0;
    width: 100%;
    margin-top: auto;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.footer-content::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.footer-container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 1.5rem;
    position: relative;
    z-index: 2;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
    color: #fff;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #93C11F;
    height: 2px;
    width: 43px;
}

.footer-col ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    padding: 0;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    display: block;
    width: 0;
    transition: all .3s ease;
}

.footer-col ul li a:hover{
    padding-left: 8px;    
}

.footer-col img{
    width: 230px;
    margin-left: -70px;
    margin-bottom: 0px;
    margin-top: -40px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    transition: all .5s ease;
}

.social-links {
    width: 100%;
}

.footer-col {
    color: #fff;
}

.footer-col .social-links a:not(:first-child){
    margin-left: 20px;
}

.footer-col .social-links a:hover{
    color: WHITE;
    background-color: black;
}

.contact-footer a {
    text-decoration: none;
    color: #fff;
}

.footer-col .copyright {
    margin-top: 20px;
}

.copyright {
    text-align: center;
    padding: 3px;
    background-color: #fff;
}

.copyright a{
    color: #000;
    font-size: small;
    text-decoration: none;
}

.none {
    display: none;
}

@media (max-width: 1196px) {
    .none {
        display: block;
    }

    .footer-col .social-links a:not(:first-child, :last-child, :nth-child(2)) {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media (max-width: 1098px) {
    .none {
        display: none;
    }

    .footer-col ul li a:hover{
        padding-left: 0px;    
    }

    .footer-col .social-links a:hover{
        color: black;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-col img {
        margin-left: -40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .social-links {
        width: 100%;
    }

    .footer-col .social-links a:not(:first-child) {
        margin-left: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 860px) {
    .social-links {
        width: 25%;
        margin-top: -10px;
    }

    .footer-col .social-links a:not(:first-child) {
        margin-left: 0px;
        margin-top: 15px;
    }
}

@media (max-width: 796px) {
    .social-links {
        width: 100%;
    }

    .footer-col .social-links a:not(:first-child) {
        margin-left: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 595px) {
    .footer {
        padding: 0 0 0 0;
    }
}

@media (max-width: 611px) {
    .none {
        display: block;
    }

    .footer-col .social-links a:not(:first-child, :last-child, :nth-child(2)) {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .social-links {
        width: 40%;
    }

    .footer-col .social-links a:not(:first-child) {
        margin-left: 0px;
        margin-top: 20px;
    }

    .none {
        display: none;
    }
}

@media (max-width: 450px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

    .social-links {
        width: 100%;
    }

    .footer-col .social-links a:not(:first-child) {
        margin-left: 20px;
        margin-top: 0px;
    }
}
