.team-container{
    max-width: 1000px;
    margin:auto;
}

.team-description, .team-fee{
    background:white;
    border-radius: 10px;
    padding: 1rem;
}

.team-coaches, .team-league, .team-training, .team-description, .team-fee{
    box-shadow: 0 4px 11px #00000040;
}

.team-training{
    background-color: #93C11F;
    border-radius: 10px;
    padding: 1rem;
}

.training-days td, .training-days tr{
    border:0;
}

.summer {
    margin-top: 1rem;
}

.price {
    margin-top: auto;
    margin-bottom: auto;
}

.contact-coaches a{
    background-color: white;
    color: rgb(80, 80, 80);
    padding: 4px 5px;
    border-radius: 50%;
}

.phone {
    margin-left: .5rem;
}

.contact-coaches a:hover {
    background-color: #93C11F;
    color: white;
    transition: all 0.2s ease-in-out;
}

h5 {
    font-weight: 600;
}

.team-league{
    background-color: #E3F1C1;
    border-radius: 10px;
    padding: 1rem;
}

.team-coaches{
    background-color: #464545;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    height: auto !important;
}

.team-coaches tr{
    border-bottom: 1px solid rgba(121, 121, 121, 0.7);
}

.team-coaches tr:last-child{
    border-bottom: 0;
}

.team-coaches td{
    padding: .5rem 0;
}

.team-league div {
    margin-bottom: 1rem;
}

@media (max-width: 991px) {
    .contact-coaches a:hover {
        background-color: white;
        color: rgb(80, 80, 80);
}
}

@media (max-width: 619px) {
    td, th, div  {
        font-size: .8rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    .training-days th {
        width: 65px !important;
    }

    .training-days .time {
        width: 90px !important;
    }
}

@media (max-width: 510px) {
    .team-container .row > [class^="col-"] {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .team-container .me-2 {
        margin-right: 0 !important;
    }

    .team-coaches {
        margin-top: 1.5rem;
    }

    .team-fee {
        margin-top: 1rem;
    }

    .team-league {
        margin-top: .5rem;
    }

    .training-days th {
        width: 60px !important;
    }

    .training-days .time {
        width: 85px !important;
    }

    td, th, div  {
        font-size: .75rem;
    }

    .team-league div {
        margin-bottom: 0rem;
}
}
