.box-kategorie{
    width: 20%;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    text-decoration: none;
}

.box-kategorie:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.box-pripravka:hover, .box-baseball:hover {
    color: white;
}

.box-softball:hover, .box-atletika:hover {
    color: black;
}

.box-pripravka{
    background-color: #464545;
    color: #fff;
}

.box-baseball{
    background-color: #000000;
    color: #fff;
}

.box-softball{
    background-color: #93C11F;
    color: black;
}

.box-atletika{
    background-color: #D9D9D9;
    color: black;
}

@media (max-width: 1200px) {
    .box-kategorie:hover {
        transform: scale(1);
    }
}

@media (max-width: 685px) {
    h4.box {
        font-size: 1.1rem;
    }

    .main-kategorie {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem; 
    }

    .box-kategorie {
        flex: 0 0 calc(50% - 0.5rem); 
        text-align: center;
        font-size: .9rem;
    }
}