@page
@model Miners.Web.WebApp.Pages.FamilyDay

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/soustredeni.css" rel="stylesheet"/>
    <link href="~/css/familyday.css" rel="stylesheet"/>
}



<div class="page-container">
    <h4>FAMILY DAY</h4>
    <div class="box box-white soustredeni">
        <div class="summer familyDay">
            <p>Venkovní zakončení sezóny.</p>
            <p>Na Family day se proti sobě postaví rodiče a děti aby poměřili síly, poté se opět spojí a budou spolu 
            bojovat v rodinných soutěží. Letošní novinkou byl Miners race a nechyběla stálice Buchta roku.</p>
            <ul>
                <li><b>Termín:</b> 12.10.2025</li>
                <li><b>Začátek:</b> 9:30</li>
                <li><b>Konec</b>: 16:00</li>
                <li><b>Místo:</b> Miners Field</li>
            </ul>
            <img src="~/img/familyday/famday.png" alt="Family Day">
        </div>
    </div>
</div>
