@page
@model Miners.Web.WebApp.Pages.FamilyDay
@{
    ViewData["Title"] = "| Family Day";
}

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/soustredeni.css" rel="stylesheet"/>
    <link href="~/css/familyday.css" rel="stylesheet"/>
}



<div class="page-container">
    <h4>FAMILY DAY</h4>
    <div class="box box-white soustredeni">
        <div class="summer familyDay">
            <p>Venkovní zakončení sezóny.</p>
            <p>Na Family day se proti sobě postaví rodiče a děti aby poměřili síly, poté se opět spojí a budou spolu 
            bojovat v rodinných soutěží. Novinkou minulého ročníku byl Miners race a nechyběla stálice Buchta roku.</p>
            <ul>
                <li><b>Termín:</b> nestanoven</li>
                <li><b>Začátek:</b> TBA</li>
                <li><b>Konec</b>: TBA</li>
                <li><b>Místo:</b> Miners Field</li>
            </ul>
            <!--<div class="schedule">
                <img src="~/img/familyday/famday.png" alt="Family Day">
            </div>!-->
            <div class="gallery">
                <img src="~/img/familyday/famday1.jpg" alt="Family Day">
                <img src="~/img/familyday/famday2.jpg" alt="Family Day">
                <img src="~/img/familyday/famday3.jpg" alt="Family Day">
                <img src="~/img/familyday/famday4.jpg" alt="Family Day">
            </div>
        </div>
    </div>
</div>
