@page
@model Miners.Web.WebApp.Pages.Historie

@section Head{
    <link href="~/css/historie.css" rel="stylesheet"/>
}

<div class="historie-container">
    <h4>Historie</h4>
    <div class="historie-box">
        <h5 class="first-block">Lopuchy u Kauflandu</h5>
        <img src="~/img/historie/lopuchy.jpg" class="float-start p-2 first-img" />
        <p>Všechno to začalo ještě před Sametovou revolucí v roce 1985 , kdy se sport, jménem softball, objevil v kladenském turistickém oddíle Střelka.
            Tehdy se po dlouhém hledání a shánění nakoupily první rukavice „kubánské kvality“ a  první míče značky BATOS.</p>
        <p>Po těchto amatérských začátcích se začalo oficiálně hrát na škvárovém hřišti při 7. ZŠ. jako oddíl LASO Kladno. Název vycházel ze zkratky Labyrint Softbal. 
            Středisto volného času Labyrint bylo  a stále je institucí organizující volnočasové aktivity pro děti a mládež na kladensku. Softballový oddíl se tímto krokem začal 
            rozšiřovat o mládežnická družstva, která se rok po roce  propracovávala do soutěží. Přibyl pro kluky atraktivnější baseball. Zájem o baseball a softball byl takový, že se v 
            roce 1995 otevřela 1. sportovní baseballová třída při 7. ZŠ. Úspěchy se objevily hned záhy, kdy kadetky přivezly do Kladna první mistrovský titul.
            Škvárové hřiště však pro hru bylo neregulérní a hlavně nebezpečné – o četných odřeninách a jejich čištění by mohly tehdejší hráčky vyprávět romány.</p>
        <h5>Zlatý věk</h5>
        <p>Díky dosaženým úspěchům a nadšení hráčů, trenérů i rodičů se již v roce 1998 podařilo skoro nemožné. S podporou města se začíná stavět při 4. ZŠ 
            nový baseballový areál. Baseball a softball v Kladně kvete. Mládežnické týmy vozí jedno ocenění za druhým, hráči a hráčky startují v reprezentačních 
            týmech ČR a trenéři se dostávají do realizačních reprezentačních týmů. Softball, baseball a Kladno jde ruku v ruce. Počet zájemců všeho věku o tento sport raketově roste.
            V roce 2001 má základna LASO Kladno 240 členů a děti mezi sebou hrají vlastní Teeballovou ligu.</p>
        <p>Díky dosaženým úspěchům a nadšení hráčů, trenérů i rodičů se již v roce 1998 podařilo skoro nemožné. S podporou města se začíná stavět při 4. ZŠ nový 
            baseballový areál. Baseball a softball v Kladně kvete. Mládežnické týmy vozí jedno ocenění za druhým, hráči a hráčky startují v reprezentačních týmech ČR a 
            trenéři se dostávají do realizačních reprezentačních týmů. Softball, baseball a Kladno jde ruku v ruce. 
            Počet zájemců všeho věku o tento sport raketově roste. V roce 2001 má základna LASO Kladno 240 členů a děti mezi sebou hrají vlastní Teeballovou ligu.
        </p>
        <img src="~/img/historie/Zlatyvek_1.jpg" style="width:100%" />
        <h5>Z vrcholku strmě dolů</h5>
        <p>Šok ze ztráty hřiště a všeobecná bezmoc byly obrovské. Bez hřiště a odpovídajícího zázemí se začala mládežnická družstva rozpadat. Ti, co chtěli hrát dál, 
            přestoupili do pražských týmů, ostatní se sportem postupně končili. Zůstávali jen srdcaři a Ti, kteří bez baseballu a softballu prostě nedokázali fungovat. 
            Ti, kteří hráli před více než 15 lety u Kauflandu, prostě hrají a budou hrát dál. Zůstává ženský softballový oddíl s názvem Starý svině.
        </p>
        <p>Snahu udržet na Kladně alespoň softball pomohla opět 7. ZŠ, na jejímž pozemku se postavilo v roce 2002 hřiště nové. Sice v rámci hřiště školního 
            (rozměry tohoto hřiště neumožňují, aby se zde dal hrát baseball), ale pro potřeby softballu a nižších baseballových kategorií je alespoň částečně použitelné. 
            Toto hřiště a především nezlomná snaha skalních hráčů a hráček být dál součástí českého softballového světa dokázala náš v Kladně udržet při životě.
        </p>
        <h5>Drobné záblesky naděje</h5>
        <p>Postupně se začíná obnovovat mládežnická tradice. Dětí opět rychle přibývá a kapacitně začíná být hřiště při 7.a 8. ZŠ nevyhovující. Opět narážíme na problém velikosti hřiště, 
            kdy odrostlé děti při absenci velkého baseballového hřiště nemohou pokračovat v tréninku. Budou muset opět dojíždět do Prahy?
        </p>
        <h5>Nový začátek – Miners Kladno
        </h5>
        <p>V roce 2014 se klub přejmenovává na MINERS KLADNO a začínáme počítat novou éru kladenského baseballového a
            softballového života.
        </p>
        <p>Postupně se začíná obnovovat mládežnická tradice. Dětí opět rychle přibývá a kapacitně začíná být hřiště při 7.a 8. ZŠ nevyhovující. Opět narážíme na problém velikosti hřiště, 
            kdy odrostlé děti při absenci velkého baseballového hřiště nemohou pokračovat v tréninku. Budou muset opět dojíždět do Prahy?
        </p>
        <p>Už v roce 2015 má klub poprvé obsazené všechny baseballové mládežnické kategorie od U7 až po U15. Nad tímto věkovým limitem přechází hráči do týmu mužů.
        </p>
        <p>Týmy jednotlivých kategorií se začínají postupně probojovávat do vyšších a vyšších soutěží a derou se pomalu ale jistě v 
            žebříčcích výš a výš. V roce 2017 se do reprezentačního softballového i baseballového výběru probojovali dva zástupci nové generace, 
            která začala hrát v roce 2010 v dresech Indians - jsou 
            jimi Jan Sobotka (reprezentace U15 na ME 2017 ve Wiener Neustadt) a Michaela Čurillová (reprezentace U16 na ME 2017 v Ostravě).
        </p>
        <p>Na lepší časy se začíná blýskat i v oblastni podpory ze strany města. V roce 2020 Miners vybudovali s podporou 
            města a kraje nové zázemí. Ani Covid rozvoj klubu nezastavil. V řešení je projekt zcela nového velkého baseballového areálu, 
            kde by hřiště odpovídalo požadavkům extraligy a poskytlo by zázemí pro všechny kategorie. Nové hřiště by znamenalo také možnost 
            pořádání republikových i mezinárodních turnajů. Ostatně v mládežnických soutěžích už se na Miners podařilo organizovat mezinárodní turnaj 
            Back2School a již standardem jsou republikové turnaje First Cup a Super Cup hostící týmy z celé republiky.  
        </p>
        <p>
           Miners se aktivně účastní městských sportovních akcí a snaží se být pevnou součástí kladenského i republikového sportovního života. 
           Akce jako Kladno sportuje, Jaro a Léto kladenských dětí nebo spolupráce s organizací Děti na startu patří stabilně do kalendáře klubu. 
           Chceme, aby nás český baseballový a softballový svět bral 
           jako neopominutelného partnera, který je již 35 let součástí baseballového dění a který má a ještě bude mít mnoho co říci a ukázat. 
        </p>
        <p>Naším aktuálním cílem je co nejdříve moci slyšet na našem novém baseballovém hřišti to známé „playball“.
        </p>
        <p>
            <img src="~/img/historie/3.jpg" style="max-width:100%" />
        </p>
    </div>
</div>