@page
@model Miners.Web.WebApp.Pages.Hriste

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/hriste.css" rel="stylesheet"/>
}
<div class="page-container">
    <h4>HŘIŠTĚ</h4>
    <div class="box box-white hriste-box">
        <h4 class="text-center">MINERS FIELD</h4>
        <img src="~/img/hriste/minersfield.png" alt="Miners Field" class="img-fluid w-100 mb-3"/>
        <p>
            <b>Adresa:</b> U Trati 3489, 272 01 Kladno
        </p>
        <p>
            <b>Hromadná doprava:</b><br/>
            autobus - zastávky U nemocnice či Železniční zastávka město<br/>
            vlak - zastávka Kladno město
        </p>
    </div>
    <div class="box box-white hriste-box">
        <h4 class="text-center">HŘIŠTĚ 7.ZŠ KLADNO</h4>
        <img src="~/img/hriste/7zs.png" alt="Miners Field" class="img-fluid w-100 mb-3"/>
        <p>
            <b>Adresa:</b> Vodárenská 2116, 272 01 Kladno<br/>
            vchod a příjezd z ulice Lacinova
        </p>
        <p>
            <b>Hromadná doprava:</b><br/>
            autobus - zastávky Vodárenská či U Hvězdy<br/>
            vlak - zastávka Kladno, poté 10 minut pěšky
        </p>
    </div>
</div>