@page
@model Miners.Web.WebApp.Pages.Kontakty

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/kontaky.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>KONTAKTY</h4>
    <div class="box box-white main-box d-flex justify-content-between">
        <div>
            <p><b>Adresa:</b> U Trati 3489, 272 01 Kladno</p>
            <p><b>IČO:</b> 169 77 017</p>
            <p><b>Bankovní spojení:</b> 2500879639/2010</p>
            <p><b>Email:</b> minerskladno@minerskladno.cz</p>
        </div>
        <div class="box box-green second-box box-bordered mb-0">
            <b>Pro účely fakturací:</b><br/>
            Miners Kladno, z.s.<br/>
            U Trati 3489<br/>
            272 01 Kladno<br/>
            IČO: 169 77 017<br/>
        </div>
    </div>
    <h5 class="box box-green box-bordered">VEDENÍ KLUBU</h5>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/baroch.jpg" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Petr Baroch</b><br/>
                prezident klubu
            </div>
        </div>
        <div class="text-end">
            <a href="tel:736682453" target="_blank">736 682 453</a><br/>
            <a href="mailto:baroch@minerskladno.cz" target="_blank">baroch@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Petr Baroch</b><br />
            prezident klubu<br />
            <div class="contact">
                <a href="tel:736682453" target="_blank">736 682 453</a><br />
                <a href="mailto:baroch@minerskladno.cz" target="_blank">baroch@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/baroch.jpg" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/jaklin.jpg" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>David Jaklin</b><br/>
                tajemník klubu
            </div>
        </div>
        <div class="text-end">
            <a href="tel:777627191" target="_blank">777 627 191</a><br/>
            <a href="mailto:jaklin@minerskladno.cz" target="_blank">jaklin@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>David Jaklin</b><br />
            tajemník klubu<br />
            <div class="contact">
                <a href="tel:777627191">777 627 191</a><br/>
                <a href="mailto:jaklin@minerskladno.cz" target="_blank">jaklin@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/jaklin.jpg" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/jakubova.jpg" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Radka Jakubová</b><br/>
                hospodář klubu
            </div>
        </div>
        <div class="text-end">
            <a href="tel:737272813" target="_blank">737 272 813</a><br/>
            <a href="mailto:jakubova@minerskladno.cz" target="_blank">jakubova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Radka Jakubová</b><br />
            hospodář klubu<br />
            <div class="contact">
                <a href="tel:737272813">737 272 813<br /></a>
                <a href="mailto:jakubova@minerskladno.cz" target="_blank">jakubova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/jakubova.jpg" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/vinsP.jpg" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Petr Vinš</b><br/>
                kontrolní komise
            </div>
        </div>
        <div class="text-end">
            <a href="tel:604103343" target="_blank">604 103 343</a><br/>
            <a href="mailto:vins@minerskladno.cz" target="_blank">vins@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Petr Vinš</b><br />
            kontrolní komise<br />
            <div class="contact">
                <a href="tel:604103343" target="_blank">604 103 343</a><br />
                <a href="mailto:vins@minerskladno.cz" target="_blank">vins@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/vinsP.jpg" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/sona.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Soňa Katonová</b><br/>
                kontrolní komise
            </div>
        </div>
        <div class="text-end">
            <a href="tel:605705243" target="_blank">605 705 243</a><br/>
            <a href="mailto:katonova@minerskladno.cz" target="_blank">katonova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Soňa Katonová</b><br />
            kontrolní komise<br />
            <div class="contact">
                <a href="tel:605705243" target="_blank">605 705 243</a><br />
                <a href="mailto:katonova@minerskladno.cz" target="_blank">katonova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/sona.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/none.webp" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Radek Zima</b><br/>
                kontrolní komise
            </div>
        </div>
        <div class="text-end">
            <a href="tel:773114496" target="_blank">773 114 496</a><br/>
            <a href="mailto:zimar@seznam.cz" target="_blank">zimar@seznam.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Radek Zima</b><br />
            kontrolní komise<br />
            <div class="contact">
                <a href="tel:773114496" target="_blank">773 114 496</a><br />
                <a href="mailto:zimar@seznam.cz" target="_blank">zimar@seznam.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/none.webp" alt="profile" class="profile-pic" />
        </div>
    </div>

    <h5 class="box box-green box-bordered">FUNKCIONÁŘI</h5>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/barochova.jpg" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Martina Barochová</b><br/>
                technická vedoucí
            </div>
        </div>
        <div class="text-end">
            <a href="tel:739026342" target="_blank">739 026 342</a><br/>
            <a href="mailto:barochova@minerskladno.cz" target="_blank">barochova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Martina Barochová</b><br />
            technická vedoucí<br />
            <div class="contact">
                <a href="tel:739026342" target="_blank">739 026 342</a><br />
                <a href="mailto:barochova@minerskladno.cz" target="_blank">barochova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/barochova.jpg" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/sona.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Soňa Katonová</b><br/>
                sportovní ředitelka
            </div>
        </div>
        <div class="text-end">
            <a href="tel:605705243" target="_blank">605 705 243</a><br/>
            <a href="mailto:katonova@minerskladno.cz" target="_blank">katonova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Soňa Katonová</b><br />
            sportovní ředitelka<br />
            <div class="contact">
                <a href="tel:605705243" target="_blank">605 705 243</a><br />
                <a href="mailto:katonova@minerskladno.cz" target="_blank">katonova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/sona.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/none.webp" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Aleš Rak</b><br/>
                koordinátor rozhodčích
            </div>
        </div>
        <div class="text-end">
            <a href="tel:721204661" target="_blank">721 204 661</a><br/>
            <a href="mailto:rak@minerskladno.cz" target="_blank">rak@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Aleš Rak</b><br />
            koordinátor rozhodčích<br />
            <div class="contact">
                <a href="tel:721204661" target="_blank">721 204 661</a><br />
                <a href="mailto:rak@minerskladno.cz" target="_blank">rak@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/none.webp" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/kontakty/curillova.jpg" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Michaela Čurillová</b><br/>
                správce sociálních sítí
            </div>
        </div>
        <div class="text-end">
            <a href="tel:604658667" target="_blank">604 658 667</a><br/>
            <a href="mailto:curillova@minerskladno.cz" target="_blank">curillova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Michaela Čurillová</b><br />
            správce sociálních sítí<br />
            <div class="contact">
                <a href="tel:604658667" target="_blank">604 658 667</a><br />
                <a href="mailto:curillova@minerskladno.cz" target="_blank">curillova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/kontakty/curillova.jpg" alt="profile" class="profile-pic" />
        </div>
    </div>

</div>
