@page
@model Miners.Web.WebApp.Pages.Kontakty

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/kontaky.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>KONTAKTY</h4>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Adresa:</b> U Trati 3489, 272 01 Kladno<br/>
            <b>IČO:</b> 169 77 017<br/>
            <b>Bankovní spojení:</b> 2500879639/2010<br/>
            <b>Email:</b> minerskladno@minerskladno.cz<br/>
        </div>
        <div class="box box-green box-bordered mb-0" style="min-width: 400px;">
            <b>Pro účely fakturací:</b><br/>
            Miners Kladno, z.s.<br/>
            U Trati 3489<br/>
            272 01 Kladno<br/>
            IČO: 169 77 017<br/>
        </div>
    </div>
    <h4 class="box box-green box-bordered">VEDENÍ KLUBU</h4>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Petr Baroch</b><br/>
            prezident klubu
        </div>
        <div class="text-end">
            736 682 453<br/>
            <a href="mailto:baroch@minerskladno.cz">baroch@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>David Jaklin</b><br/>
            tajemník klubu
        </div>
        <div class="text-end">
            777 627 191<br/>
            <a href="mailto:jaklin@minerskladno.cz">jaklin@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Radka Jakubová</b><br/>
            hospodář klubu
        </div>
        <div class="text-end">
            737 272 813<br/>
            <a href="mailto:jakubova@minerskladno.cz">jakubova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Petr Vinš</b><br/>
            kontrolní komise
        </div>
        <div class="text-end">
            604 103 343<br/>
            <a href="mailto:vins@minerskladno.cz">vins@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Soňa Katonová</b><br/>
            kontrolní komise
        </div>
        <div class="text-end">
            605 705 243<br/>
            <a href="mailto:katonova@minerskladno.cz">katonova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Radek Zima</b><br/>
            kontrolní komise
        </div>
        <div class="text-end">
            773 114 496<br/>
            <a href="mailto:zimar@seznam.cz">zimar@seznam.cz</a>
        </div>
    </div>
    <h4 class="box box-green box-bordered">FUNKCIONÁŘI</h4>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Martina Barochová</b><br/>
            technická vedoucí
        </div>
        <div class="text-end">
            739 026 342<br/>
            <a href="mailto:barochova@minerskladno.cz">barochova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Soňa Katonová</b><br/>
            sportovní ředitelka
        </div>
        <div class="text-end">
            605 705 243<br/>
            <a href="mailto:katonova@minerskladno.cz">katonova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Aleš Rak</b><br/>
            koordinátor rozhodčích
        </div>
        <div class="text-end">
            721 204 661<br/>
            <a href="mailto:rak@minerskladno.cz">rak@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between">
        <div>
            <b>Michaela Čurillová</b><br/>
            správce sociálních sítí
        </div>
        <div class="text-end">
            604 658 667<br/>
            <a href="mailto:curillova@minerskladno.cz">curillova@minerskladno.cz</a>
        </div>
    </div>
</div>
