@page
@model Miners.Web.WebApp.Pages.Kontakty

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/kontaky.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>KONTAKTY</h4>
    <div class="box box-white main-box d-flex justify-content-between">
        <div>
            <b>Adresa:</b> U Trati 3489, 272 01 Kladno<br/>
            <b>IČO:</b> 169 77 017<br/>
            <b>Bankovní spojení:</b> 2500879639/2010<br/>
            <b>Email:</b> minerskladno@minerskladno.cz<br/>
        </div>
        <div class="box box-green second-box box-bordered mb-0">
            <b>Pro účely fakturací:</b><br/>
            Miners Kladno, z.s.<br/>
            U Trati 3489<br/>
            272 01 Kladno<br/>
            IČO: 169 77 017<br/>
        </div>
    </div>
    <h4 class="box box-green box-bordered">VEDENÍ KLUBU</h4>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Petr Baroch</b><br/>
                prezident klubu
            </div>
        </div>
        <div class="text-end">
            736682453<br/>
            <a href="mailto:baroch@minerskladno.cz">baroch@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Petr Baroch</b><br />
            prezident klubu<br />
            <div class="contact">
                736682453<br />
                <a href="mailto:baroch@minerskladno.cz">baroch@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>David Jaklin</b><br/>
                tajemník klubu
            </div>
        </div>
        <div class="text-end">
            777627191<br/>
            <a href="mailto:jaklin@minerskladno.cz">jaklin@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>David Jaklin</b><br />
            tajemník klubu<br />
            <div class="contact">
                77762719<br />
                <a href="mailto:jaklin@minerskladno.cz">jaklin@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Radka Jakubová</b><br/>
                hospodář klubu
            </div>
        </div>
        <div class="text-end">
            737272813<br/>
            <a href="mailto:jakubova@minerskladno.cz">jakubova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Radka Jakubová</b><br />
            hospodář klubu<br />
            <div class="contact">
                737272813<br />
                <a href="mailto:jakubova@minerskladno.cz">jakubova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Petr Vinš</b><br/>
                kontrolní komise
            </div>
        </div>
        <div class="text-end">
            604103343<br/>
            <a href="mailto:vins@minerskladno.cz">vins@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Petr Vinš</b><br />
            kontrolní komise<br />
            <div class="contact">
                604103343<br />
                <a href="mailto:vins@minerskladno.cz">vins@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Soňa Katonová</b><br/>
                kontrolní komise
            </div>
        </div>
        <div class="text-end">
            605705243<br/>
            <a href="mailto:katonova@minerskladno.cz">katonova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Soňa Katonová</b><br />
            kontrolní komise<br />
            <div class="contact">
                605705243<br />
                <a href="mailto:katonova@minerskladno.cz">katonova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Radek Zima</b><br/>
                kontrolní komise
            </div>
        </div>
        <div class="text-end">
            773114496<br/>
            <a href="mailto:zimar@seznam.cz">zimar@seznam.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Radek Zima</b><br />
            kontrolní komise<br />
            <div class="contact">
                773114496<br />
                <a href="mailto:zimar@seznam.cz">zimar@seznam.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <h4 class="box box-green box-bordered">FUNKCIONÁŘI</h4>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Martina Barochová</b><br/>
                technická vedoucí
            </div>
        </div>
        <div class="text-end">
            739026342<br/>
            <a href="mailto:barochova@minerskladno.cz">barochova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Martina Barochová</b><br />
            technická vedoucí<br />
            <div class="contact">
                739026342<br />
                <a href="mailto:barochova@minerskladno.cz">barochova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Soňa Katonová</b><br/>
                sportovní ředitelka
            </div>
        </div>
        <div class="text-end">
            605705243<br/>
            <a href="mailto:katonova@minerskladno.cz">katonova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Soňa Katonová</b><br />
            sportovní ředitelka<br />
            <div class="contact">
                605705243<br />
                <a href="mailto:katonova@minerskladno.cz">katonova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Aleš Rak</b><br/>
                koordinátor rozhodčích
            </div>
        </div>
        <div class="text-end">
            721204661<br/>
            <a href="mailto:rak@minerskladno.cz">rak@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Aleš Rak</b><br />
            koordinátor rozhodčích<br />
            <div class="contact">
                721204661<br />
                <a href="mailto:rak@minerskladno.cz">rak@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

    <div class="box box-white d-flex justify-content-between desktop">
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic"/>
            <div class="profile-text">
                <b>Michaela Čurillová</b><br/>
                správce sociálních sítí
            </div>
        </div>
        <div class="text-end">
            604658667<br/>
            <a href="mailto:curillova@minerskladno.cz">curillova@minerskladno.cz</a>
        </div>
    </div>
    <div class="box box-white d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap mobile">
        <div class="profile-text">
            <b>Michaela Čurillová</b><br />
            správce sociálních sítí<br />
            <div class="contact">
                604658667<br />
                <a href="mailto:curillova@minerskladno.cz">curillova@minerskladno.cz</a>
            </div>
        </div>
        <div class="profile">
            <img src="~/img/hriste/minersfield.png" alt="profile" class="profile-pic" />
        </div>
    </div>

</div>
