@page
@model Miners.Web.WebApp.Pages.Nabory

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/nabory.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>NÁBORY</h4>
    <div class="box box-white nabory">
        <img src="img/hriste/minersfield.png"/>
    </div>
</div>