@page
@model Miners.Web.WebApp.Pages.Nabory
@{
    ViewData["Title"] = "| Nábory";
}

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/nabory.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>NÁBORY</h4>
    <div class="box box-white nabory">
        <img src="img/nabory/naboryDeti.png"/>
        <img src="img/nabory/naboryRozhodci.png"/>
    </div>
</div>