@page
@model Miners.Web.WebApp.Pages.Nabory
@{
    ViewData["Title"] = "| Nábory";
}

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/nabory.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>NÁBORY</h4>

    <div class="box box-white nabory-box intro">
        <h5>Miners – klub, kde pomáháme dětem vyrůst v samostatné a férové sportovce a osobnosti</h5>
        <p>Patříme k republikové špičce v práci s dětmi a mládeží.</p>
        <h6>Naše hodnoty:</h6>
        <ul>
            <li>Rozvoj dítěte je důležitější než výsledek.</li>
            <li>Bezpečné a podporující prostředí.</li>
            <li>Pozitivní komunikace a individuální přístup.</li>
            <li>Radost z pohybu a láska ke sportu.</li>
            <li>Týmovost a respekt.</li>
            <li>Každý má v týmu své místo.</li>
            <li>Miners Family – komunita, která drží při sobě.</li>
        </ul>
        <img src="~/img/nabory/Klub.jpg" alt="Miners – klub pro děti a mládež" class="nabory-img"/>
    </div>

    <div class="box box-white nabory-box">
        <h5>Předškoláci – Minipřípravka U5 a Přípravka U6</h5>
        <img src="~/img/nabory/U5.jpg" alt="Minipřípravka U5 a Přípravka U6" class="nabory-img-float"/>
        <p>Máte doma špunta a hledáte pro něj všestranný pohyb, radost a zábavu?</p>
        <p>
            Přiveďte ho k nám do přípravky pro předškoláky. Trénujeme každou středu
            v areálu 7./8. ZŠ Kladno. Když je hezky, jsme venku na školním hřišti,
            a když prší, máme k dispozici tělocvičnu.
        </p>

        <div class="nabory-category">
            <h6><a href="~/team/u5">Minipřípravka U5</a></h6>
            <ul>
                <li>pro děti od 4 let</li>
                <li>základy baseballu tou nejhravější možnou formou</li>
                <li>pestrá pohybová cvičení, opičí dráhy a týmové soutěže pro rozvoj motoriky, obratnosti a koordinace</li>
            </ul>
        </div>

        <div class="nabory-category">
            <h6><a href="~/team/u6">Přípravka U6</a></h6>
            <ul>
                <li>pro děti ročníku 2020</li>
                <li>základy baseballu, pestrá pohybová cvičení</li>
                <li>první zápasové zkušenosti (délka a náročnost přizpůsobena věku dítěte)</li>
                <li>důraz na pozitivní zážitky dětí ze zápasu i tréninku, výsledky jsou druhořadé</li>
            </ul>
        </div>

        <div class="nabory-contact">
            <h6>Kontaktní osoba:</h6>
            <div class="contact-name">Natálie Tauchenová</div>
            <div class="contact-links">
                <a href="tel:734469515"><i class="fa-solid fa-phone"></i> 734 469 515</a>
                <a href="mailto:tauchenova@minerskladno.cz"><i class="fa-solid fa-envelope"></i> tauchenova@minerskladno.cz</a>
            </div>
        </div>
    </div>

    <div class="box box-white nabory-box">
        <h5>Dívčí softball – U11 a U13</h5>
        <img src="~/img/nabory/Softball.jpg" alt="Dívčí softball Miners" class="nabory-img-float"/>
        <p>Pojďte zkusit něco nového a přidejte se do party softbalistek Miners!</p>
        <p>
            Naše dívčí týmy do 11 let a do 13 let mohou být začátkem něčeho velkého –
            třeba nových přátelství a zážitků. V bezpečném prostředí dívky podporujeme,
            motivujeme a učíme zvládat úspěchy i neúspěchy s úsměvem.
        </p>
        <p>
            První krok je jednoduchý – přijít na trénink. Až do konce června probíhají
            nábory každé pondělí od 16:00 na hřišti 7./8. ZŠ Kladno (ulice Vodárenská).
        </p>
        <p>
            SOFTBALL je cool sport, který si holky zamilují. A MINERS je parta,
            ke které budou chtít patřit.
        </p>
        <p>
            Mrkněte na náš Instagramový profil
            <a href="https://www.instagram.com/minersgirls/" target="_blank" rel="noopener">@@minersgirls</a>!
            Základní pravidla softballu můžete zkouknout
            <a href="https://www.youtube.com/watch?v=VCEQg1ZOmTo" target="_blank" rel="noopener">ZDE</a>.
        </p>

        <ul class="nabory-links">
            <li><a href="~/team/u11-soft">Více informací k týmu – Mladší žákyně U11</a></li>
            <li><a href="~/team/u13-soft">Více informací k týmu – Žákyně U13</a></li>
        </ul>

        <div class="nabory-contact">
            <h6>Kontaktní osoba:</h6>
            <div class="contact-name">Martina Barochová</div>
            <div class="contact-links">
                <a href="tel:739026342"><i class="fa-solid fa-phone"></i> 739 026 342</a>
                <a href="mailto:barochova@minerskladno.cz"><i class="fa-solid fa-envelope"></i> barochova@minerskladno.cz</a>
            </div>
        </div>
    </div>

    <div class="box box-white nabory-box">
        <h5>Baseball, kamarádi, zážitky – U7 až U10</h5>
        <p>
            Máte dítě od 7 do 10 let, které chce zkusit baseball?
            Kontaktujte hlavního trenéra dané kategorie.
        </p>

        @* <img src="~/img/nabory/..." alt="Baseball U7 až U10" class="nabory-img"/> *@

        <div class="nabory-category">
            <h6>Přípravka U7 – pro ročníky 2019</h6>
            <div class="contact-links">
                <span class="contact-name">Radka Jakubová</span>
                <a href="tel:737272813"><i class="fa-solid fa-phone"></i> 737 272 813</a>
                <a href="mailto:jakubova@minerskladno.cz"><i class="fa-solid fa-envelope"></i> jakubova@minerskladno.cz</a>
            </div>
        </div>

        <div class="nabory-category">
            <h6>Mladší žáci U9 – pro ročníky 2017 a 2018</h6>
            <div class="contact-links">
                <span class="contact-name">Petr Vinš</span>
                <a href="tel:604103343"><i class="fa-solid fa-phone"></i> 604 103 343</a>
                <a href="mailto:vins@minerskladno.cz"><i class="fa-solid fa-envelope"></i> vins@minerskladno.cz</a>
            </div>
        </div>

        <div class="nabory-category">
            <h6>Žáci U11 – pro ročníky 2015 a 2016</h6>
            <div class="contact-links">
                <span class="contact-name">Martin Kučera</span>
                <a href="tel:724615814"><i class="fa-solid fa-phone"></i> 724 615 814</a>
                <a href="mailto:kucera@minerskladno.cz"><i class="fa-solid fa-envelope"></i> kucera@minerskladno.cz</a>
            </div>
        </div>
    </div>

    <div class="box box-white nabory-box faq">
        <h5>Nejčastější dotazy rodičů</h5>

        <details>
            <summary>Jak a kdy probíhá nábor?</summary>
            <p>
                Do klubu přibíráme nové členy po celý rok. Nejčastěji nováčci přichází
                v září na začátku školního roku. V tu dobu vrcholí baseballová/softballová
                sezóna a od listopadu pak začíná příprava na další. Právě v zimních měsících
                je pro nováčky největší prostor na učení a individuální přístup trenérů.
            </p>
            <p>
                Pokud má dítě zájem, kontaktujte hlavního trenéra dané kategorie a připojte se
                na trénink. Celkem máte 3 tréninky zdarma na vyzkoušení.
            </p>
        </details>

        <details>
            <summary>Co s sebou?</summary>
            <p>
                Na zkušební tréninky postačí sportovní obuv a oblečení, kšiltovka a pití.
                Veškeré baseballové/softballové vybavení zapůjčíme.
            </p>
        </details>

        <details>
            <summary>Kde trénink probíhá?</summary>
            <p>
                Kategorie U5, U6, U7, U9 a softballové týmy trénují na hřišti ve školním
                areálu 7./8. ZŠ Kladno (vchod z ulice Lacinova).
            </p>
            <p>
                Kategorie U11 a vyšší trénují v areálu Miners v Kladně – Rozdělově
                (ulice U Trati – za Billou).
            </p>
            <p>
                Od listopadu do března trénují všechny kategorie v tělocvičnách. Podrobné info
                o čase a místě tréninků najdete na webu u jednotlivých kategorií v sekci TÝMY.
            </p>
        </details>

        <details>
            <summary>Kolik stojí příspěvky?</summary>
            <p>
                Výše příspěvků se liší dle kategorie. Konkrétní výši najdete v informacích
                u dané kategorie v sekci TÝMY.
            </p>
            <p>
                Splatnost příspěvků je vždy na začátku školního roku do 15. října. Pokud se dítě
                registruje do klubu později během roku, bude částka upravena (na základě
                individuálního výpočtu).
            </p>
            <p>V rámci příspěvků máte nárok uplatnit sourozeneckou slevu.</p>
        </details>

        <details>
            <summary>Jaké mají trenéři zkušenosti?</summary>
            <p>
                Drtivá většina trenérů vlastní minimálně licenci pro 3. trenérskou třídu.
                Obvykle se jedná o současné či bývalé hráče s dlouholetou hráčskou praxí.
                Jako asistenti jim nezřídka pomáhají rodiče, z nichž řada absolvovala nebo
                se připravuje na trenérské školení.
            </p>
        </details>

        <details>
            <summary>Jak vypadá první trénink? Nebude se nováček cítit ztracený?</summary>
            <p>
                Nováček je přivítán ostatními hráči, je ihned zapojen a od prvních chvil trénuje
                to, co ostatní. S individuálními radami trenérů, někdy dělá cvičení s lehčím
                a bezpečnějším obsahem. Každopádně nestojí stranou, ale je součástí týmu.
            </p>
        </details>

        <details>
            <summary>Kupovat nebo nekupovat nováčkovi vybavení? A případně kde?</summary>
            <p>
                Na počátku není potřeba. Vše nováčkovi zapůjčíme. Teprve po čase, kdy bude jasné,
                že se vaše dítě definitivně rozhodlo, vám doporučíme specializované prodejny nebo
                e-shopy. Rozhodně nekupujte nekvalitní vybavení v prodejnách typu Decathlon nebo
                Intersport! Vše předem konzultujte s trenéry.
            </p>
        </details>

        <details>
            <summary>Potřebuje znát pravidla?</summary>
            <p>
                Ne. Pravidla baseballu a softballu jsou poměrně složitá a hráči si je osvojují
                průběžně a dlouhodobě, ideálně samotnou hrou.
            </p>
        </details>

        <details>
            <summary>Trénuje se i v dešti?</summary>
            <p>
                Drobný déšť nevadí. V případě větší nepřízně počasí posílá hlavní trenér rodičům
                včas zprávu o zrušení tréninku.
            </p>
        </details>

        <details>
            <summary>Kolikrát týdně týmy trénují a jak často hrají zápasy?</summary>
            <p>
                Kromě nejmladších dětí mají týmy zpravidla 2 tréninky týdně. Od kategorie U9 výš
                pak přes zimu přibude jeden speciální trénink odpalování. Vybraní sportovci od U11
                výš pak navštěvují navíc 2–3 specializované tréninky týdně. Počet zápasů a turnajů
                je individuální podle kategorie. Nejvíc turnajů a zápasů hráči odehrají v dubnu
                až červnu, v září a říjnu.
            </p>
        </details>

        <details>
            <summary>Jsou baseball a softball bezpečné sporty?</summary>
            <p>
                V každém sportu může dojít ke zranění. Naši vyškolení trenéři dbají na to, aby
                prostředí, pomůcky a tréninkové metody byly pro hráče maximálně bezpečné. K běžným
                bezpečnostním prvkům patří měkké míče pro dětské kategorie, helma, chrániče
                obličeje, případně hrudníku, nohou nebo dalších částí těla. Nejlepší prevencí úrazu
                je dobře zorganizovaný trénink a kázeň.
            </p>
        </details>
    </div>
</div>
