@page
@model Miners.Web.WebApp.Pages.Partneri

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/partneri.css" rel="stylesheet"/>
}

<div class="page-container">
<h4 class="partners-header">PARTNEŘI</h4>
<div class="partners">
    <div class="row footer partner-title no-gutters">
        <div class="col"> 
            <h5>HLAVNÍ PARTNEŘI</h5>
        </div> 
    </div>
    <div class="row footer no-gutters logo-border">
        <div class="col-md-4 single-partner">
            <a href="http://www.mestokladno.cz/" target="_blank">
                <img src="/img/partners/kladno.png">
            </a>
        </div>
        <div class="col-md-4 single-partner">
            <a href="https://www.kr-stredocesky.cz/" target="_blank">
                <img src="/img/partners/kraj.png">
            </a>
        </div>
        <div class="col-md-4 single-partner">
            <a href="https://agenturasport.cz/" target="_blank">
                <img src="/img/partners/nsa.png">
            </a>
        </div>
    </div>
    <hr>
    <div class="row footer partner-title no-gutters"> 
       <div class="col"> 
            <h5>PARTNEŘI</h5> 
        </div> 
    </div> 
    <div class="row footer no-gutters">
        <div class="col-md-4 single-partner">
            <a href="http://ave.cz/" target="_blank">
                <img src="/img/partners/ave.png">
            </a>
        </div>
        <div class="col-md-4 single-partner">
            <a href="http://www.underarmour.cz/" target="_blank">
                <img src="/img/partners/ua.png">
            </a>
        </div>
        <div class="col-md-4 single-partner">
            <a href="https://cpzp.cz/" target="_blank">
                <img src="/img/partners/cpzp.png">
            </a>
        </div>
    </div>
    <div class="row footer no-gutters">
        <div class="col-md-4 single-partner">
            <a href="http://www.baseball.cz/" target="_blank">
                <img src="/img/partners/cba.png">
            </a>
        </div>
        <div class="col-md-4 single-partner">
            <a href="https://www.starokladno.cz/" target="_blank">
                <img src="/img/partners/starokladno.png">
            </a>
        </div>
        <div class="col-md-4 single-partner">
            <a href="http://www.softball.cz/" target="_blank">
                <img src="/img/partners/csa.png">
            </a>
        </div>
    </div>
    <div class="row footer no-gutters logo-border">
        <div class="col-md-4 x single-partner">
            <a href="https://www.clever-fit.com/cz/studios/kladno/" target="_blank">
                <img src="/img/partners/cleverfit.png">
            </a>
        </div>
        <div class="col-md-4 x single-partner">
            <a href="https://www.infinitnutrition.eu/" target="_blank">
                <img src="/img/partners/infinit.png">
            </a>
        </div>
        <div class="col-md-4 x single-partner">
            <a href="https://svatbykladno.cz/" target="_blank">
                <img src="/img/partners/divadelnikavarna.png">
            </a>
        </div>
    </div>
    <hr>
    <div class="row footer partner-title no-gutters"> 
        <div class="col"> 
            <h5>HLAVNÍ MEDIÁLNÍ PARTNER</h5> 
        </div> 
    </div> 
    <div class="row footer no-gutters">
        <div class="col single-partner">
            <a href="https://kladenskymesic.cz/" target="_blank">
                <img class="big" src="/img/partners/km.png">
            </a>
        </div>
    </div>
</div>
</div>