@page
@model Miners.Web.WebApp.Pages.Ples

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/nabory.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>PLES</h4>
</div>