@page
@model Miners.Web.WebApp.Pages.Ples
@{
    ViewData["Title"] = "| Ples";
}

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/ples.css" rel="stylesheet"/>
    
}

<div class="page-container">
    <h4>HORNICKÝ BÁL</h4>
      <div class="box box-white ples">
        <div class="ples">
            <p>Přijďte s námi zahájit nový rok ve velkém stylu!</p>
            <p>Zveme všechny členy, přátele a fanoušky klubu Miners Kladno na Hornický bál 2026!<br />
            Čeká vás večer plný hudby, tance, přátelské atmosféry a dobré nálady.<br />
            Chybět nebude tombola, fotokoutek, soutěžení a půlnoční diskotéka s těmi nejlepšími hity!<br /> 
            Oblékněte se do gala a přijďte si užít bál, na který budete dlouho vzpomínat! </p>
            <ul>
                <li><b>Termín:</b> 10.1.2026</li>
                <li><b>Začátek:</b> 20:00</li>
                <li><b>Konec</b>: 01:00</li>
                <li><b>Místo:</b> Kino Sokol Kladno</li>
                <li><b>Rezervace vstupenek: </b><a href="https://docs.google.com/forms/d/e/1FAIpQLScGGKu4SvoQWeA9FYKklN0nPyNq7VQLt4-Uq-5nsdJN6K07rw/viewform" target="_blank">Formulář</a></li>
            </ul>
            <img src="~/img/ples/ples.png" alt="Hornicky bal">
        </div>
    </div>
</div>