@page
@model Miners.Web.WebApp.Pages.Scm

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/scm.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>SCM</h4>
    <div class="box box-white scm">
        <img src="img/scm/SCM.png" alt="scm logo" class="scm-logo"/>
        <div class="description">
            <p>Sportovní centrum mládeže (SCM) bylo založeno 1.11.2018. SCM je zřízeno při baseballovém 
            a softballovém klubu MINERS KLADNO a vzniká z iniciativy Oddílu MINERS KLADNO a za finanční podpory Středočeského kraje.</p>
            <p>Přidruženými kluby v roce 2019 byly Red Crayfish Rakovník a Piranhas Beroun. V roce 2020 byl přidružený klub Red Crayfish Rakovník.</p>
            <p>Cíle a úkoly SCM jsou zejména zabezpečení sportovní přípravy talentované mládeže baseballových a softballových klubů zařazených v programu. 
            Věková kategorie je v rozsahu od 10 do 23let. Součástí odborného vedení sportovní přípravy zařazených sportovců je koordinace činnosti ve spolupracujících 
            baseballových a softballových oddílech. Jedním z cílů je dovést mládež na takovou úroveň, která zajistí její pozvolný přechod do středisek zřizovaných státem pro 
            podporu reprezentace
            ČR na mezinárodní a světové úrovni. Měřítko z hlediska Středočeského kraje bude na dětské Olympiádě dětí a mládeže, kde se střetnou všechny kraje.</p>
        </div>
        <img src="img/scm/scm-image.jpg" alt="scm image" class="scm-image"/>
        <div class="info">
            <h5>Adresa a fakturační údaje</h5>
            <p>SPORTOVNÍ CENTRUM MINERS, z.s.<br />
            Sportovců 817<br />
            272 04 Kladno<br />
            <b>IČO:</b> 08286175 <br />
            <b>Účet:</b> 2901669835/2010</p>
        </div>
        <div class="winter-practice">
            <h5>Tréninky listopad - březen (1.11.2024 - 31.3.2025)</h5>
            <p><b>PÁ 16:00 - 18:00 -</b> hala Brjanská<br />
            <b>PÁ 18:30 - 20:00 -</b> posilovna BIOS (pro kategorie U15+)<br />
            <b>NE 15:00 - 17:00 -</b> Atletická hala Sletiště</p>
        </div>
        <div class="summer-practice">
            <h5>Tréninky duben - září (1.4.2025 - 30.9.2025)</h5>
            <p><b>PÁ 16:00 - 18:00 -</b> hřiště Rozdělov</p>
        </div>
        <img src="img/scm/scm-image-2.jpeg" alt="scm image" class="scm-image"/>
    </div>
</div>