@page
@model Miners.Web.WebApp.Pages.Soustredeni

@section Head{
    <link href="~/css/pageshared.css" rel="stylesheet"/>
    <link href="~/css/soustredeni.css" rel="stylesheet"/>
}

<div class="page-container">
    <h4>SOUSTŘEDĚNÍ</h4>
    <div class="box box-white soustredeni">
        <div class="summer">
            <h5>Summer Camp - Hluboká nad Vltavou</h5>
            <p>5denní soustředění v Hluboké nad Vltavou je určené pro hráče a hráčky Miners týmů U11-U18.</p>
            <p>Soustředění zahrnuje veškeré baseballové/softballové tréninky 
            (pálení, infield, outfield, nadhazování, kečrování), testy, zápasy, 
            kompenzační cvičení a regeneraci.</p>
            <ul>
                <li><b>Termín:</b> 10.-14.8.2025</li>
                <li><b>Cena:</b> 6400 Kč</li>
                <li><b>Přihlášky:</b> Ukončeno</li>
                <li><b>Kapacita</b>: 45 hráčů</li>
                <li><b>Místo:</b> Sportovně-relaxační areál Hluboká nad Vltavou</li>
            </ul>
            <img src="~/img/soustredeni/WinterCamp.JPG" alt="Hluboká">
        </div>
        <hr>
        <div class="winter">
            <h5>Winter Camp - Nymburk</h5>
            <p>Víkendové soustředění v Nymburku je určené pro hráče a hráčky týmů U11-U18.</p>
            <p>Soustředění zahrnuje veškeré baseballové/softballové tréninky 
            (pálení, infield, outfield, nadhazování, kečrování), testy, atletiku, 
            kompenzační cvičení, posilovnu, plavání a regeneraci.</p>
            <ul>
                <li><b>Termín:</b> 13.-15.2.2026</li>
                <li><b>Cena:</b> Bude upřesněna v lednu 2026</li>
                <li><b>Přihlášky:</b> Zatím nezahájeno</li>
                <li><b>Kapacita:</b> 45 hráčů</li>
                <li><b>Místo:</b> Sportovní centrum Nymburk</li>
            </ul>
            <img src="~/img/soustredeni/WinterCamp.JPG" alt="Nymburk">
        </div>
    </div>
</div>
